@charset "UTF-8";
#right-fixed .right-fixed-list {
  z-index: 999;
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -250px;
}
#right-fixed .right-fixed-list li {
  position: relative;
  width: 80px;
  height: 90px;
  padding: 17px 10px;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.03);
  font-size: 14px;
}
#right-fixed .right-fixed-list li .phone-app-down {
  display: none;
  position: absolute;
  width: 130px;
  height: 190px;
  right: 93px;
  top: 0;
  background-color: #fff;
}
#right-fixed .right-fixed-list li .phone-app-down::before {
  content: "";
  position: absolute;
  z-index: 999;
  width: 0;
  height: 0;
  right: -21px;
  top: 20%;
  border: 13px solid transparent;
  border-left: 10px solid #fff;
}
#right-fixed .right-fixed-list li .phone-app-down img {
  width: 140px;
  padding: 20px 25px 10px 20px;
  box-sizing: border-box;
}
#right-fixed .right-fixed-list li .phone-app-down p {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
#right-fixed .right-fixed-list li a:hover p {
  color: #ff6700;
  opacity: 0.5;
  transition: 0.2s;
}
#right-fixed .right-fixed-list li a:hover span {
  color: #ff6700;
  opacity: 0.5;
  transition: 0.3s;
}
#right-fixed .right-fixed-list li a p {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}
#right-fixed .right-fixed-list li a span {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
#right-fixed .right-fixed-list .phone-app:hover .phone-app-down {
  display: block;
}
#right-fixed .right-fixed-list li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#right-fixed .right-fixed-list .go-top {
  margin-top: 50px;
  border: 0;
}
